on:
  push:
    branches:
      - master

name: push
jobs:
  publish:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'VERSION-SKIP-CI')"
    strategy:
      matrix:
        python-version: [ 3.9 ]
    steps:

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/checkout@master
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest rep

      - name: build
        run: |
          python -m pip install --upgrade pip
          pip install .[all]
          python setup.py sdist

      - name: commit version
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "VERSION-SKIP-CI"

      - name: Push version
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.ORG_TOKEN_CICD }}
          branch: master
          force: true

      - name: make doc
        run: |
          pip install pdoc3
          pdoc --html transparentpath -o docs
          mv docs/transparentpath/* docs/
          rm -r docs/transparentpath

      - name: commit doc
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "docs"

      - name: Push doc master
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.ORG_TOKEN_CICD }}
          branch: gh-pages
          force: true

      - name: topypi
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: ${{ secrets.ORG_PYPI_LOGIN }}
          password: ${{ secrets.ORG_PYPI_PASSWD }}
          skip_existing: true
          verbose: true

      - name: todocker master
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.ORG_DOCKER_LOGIN }}
          password: ${{ secrets.ORG_DOCKER_PASSWD }}
          repository: advestisrepositories/transparentpath
          tag_with_ref: true

  send-mail:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:

      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.ORG_TOKEN_CICD }}
          fetch-depth: 0

      - name: send-mail
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: outlook.office365.com
          server_port: 587
          username: ${{secrets.ORG_MAIL_AUTOMAT}}
          password: ${{secrets.ORG_PASSWD_AUTOMAT}}
          subject: New commit on branch ${{ env.BRANCH_NAME }} in project ${{ github.event.repository.name }}
          to: cb1d360e.advestis.com@emea.teams.ms
          body: Commit message is "${{ github.event.head_commit.message }}"
          from: CI/CD